{% load static %}


<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Funcionario</title>
    <meta name="description" content="Sua descrição aqui">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.svg' %}">
    <!-- Adicione seus arquivos de estilo aqui -->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>

    <!-- Conteúdo da página -->
    <header>
        <!-- Seu cabeçalho aqui -->
    </header>

    <nav>
    <!-- Navbar Section Start -->
    {% include 'navbar.html' %}
    <!-- Navbar Section End -->
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Seu rodapé aqui -->
    </footer>

    <!-- Adicione seus scripts JavaScript aqui -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
