{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Contabilidade - Página Inicial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>

    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Sistema de Contabilidade</h1>
            <p class="lead">Um sistema de gerenciamento para escritórios de contabilidade</p>
            <hr class="my-4">
            <p>Desenvolvido para a disciplina de Aplicações Web</p>
            <p>Integrantes: Daniel Vitor Duarte e Igor Faria Neves</p>
            <p>Curso: Sistemas De Informação</p>

            <form class="form-inline mb-3 mx-auto" method="get" action="{% url 'home' %}">
                {% csrf_token %}
                {{ form.nome.label_tag }}
                {{ form.nome }}
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>

            <div class="funcionario-list" id="funcionarioList">
                {% for funcionario in funcionarios %}
                    <div class="funcionario-card" onclick="window.location='{% url 'detalhes_funcionario' funcionario.id %}'">
                        <img src="{{ funcionario.foto.url }}" alt="{{ funcionario.nome }}" class="funcionario-img">
                        <h4>{{ funcionario.nome }}</h4>
                    </div>
                {% endfor %}
            </div>

            <p>Disciplina: Desenvolvimento de Aplicações para Web</p>
            <p>Faculdade: Faculdade Metodista Granbery</p>
            <a class="btn btn-primary btn-lg" href="/admin" role="button">Acessar Área Administrativa</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
